{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Create Event" %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="mb-4">{% trans "Create New Event" %}</h1>

            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.title.label_tag }}
                                    {{ form.title }}
                                    {% if form.title.errors %}
                                        <div class="text-danger">{{ form.title.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.category.label_tag }}
                                    {{ form.category }}
                                    {% if form.category.errors %}
                                        <div class="text-danger">{{ form.category.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form.short_description.label_tag }}
                            {{ form.short_description }}
                            {% if form.short_description.errors %}
                                <div class="text-danger">{{ form.short_description.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            {{ form.description.label_tag }}
                            {{ form.description }}
                            {% if form.description.errors %}
                                <div class="text-danger">{{ form.description.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.event_type.label_tag }}
                                    {{ form.event_type }}
                                    {% if form.event_type.errors %}
                                        <div class="text-danger">{{ form.event_type.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.location.label_tag }}
                                    {{ form.location }}
                                    {% if form.location.errors %}
                                        <div class="text-danger">{{ form.location.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.start_date.label_tag }}
                                    {{ form.start_date }}
                                    {% if form.start_date.errors %}
                                        <div class="text-danger">{{ form.start_date.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.end_date.label_tag }}
                                    {{ form.end_date }}
                                    {% if form.end_date.errors %}
                                        <div class="text-danger">{{ form.end_date.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.venue.label_tag }}
                                    {{ form.venue }}
                                    {% if form.venue.errors %}
                                        <div class="text-danger">{{ form.venue.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <div class="form-check">
                                        {{ form.online_event }}
                                        {{ form.online_event.label_tag }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3" id="online_link_field" style="display: none;">
                            {{ form.online_link.label_tag }}
                            {{ form.online_link }}
                            {% if form.online_link.errors %}
                                <div class="text-danger">{{ form.online_link.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            {{ form.address.label_tag }}
                            {{ form.address }}
                            {% if form.address.errors %}
                                <div class="text-danger">{{ form.address.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <div class="form-check">
                                        {{ form.registration_required }}
                                        {{ form.registration_required.label_tag }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.registration_type.label_tag }}
                                    {{ form.registration_type }}
                                    {% if form.registration_type.errors %}
                                        <div class="text-danger">{{ form.registration_type.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.registration_deadline.label_tag }}
                                    {{ form.registration_deadline }}
                                    {% if form.registration_deadline.errors %}
                                        <div class="text-danger">{{ form.registration_deadline.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.max_participants.label_tag }}
                                    {{ form.max_participants }}
                                    {% if form.max_participants.errors %}
                                        <div class="text-danger">{{ form.max_participants.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <div class="form-check">
                                        {{ form.waitlist_enabled }}
                                        {{ form.waitlist_enabled.label_tag }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <div class="form-check">
                                        {{ form.is_free }}
                                        {{ form.is_free.label_tag }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="price_fields" style="display: none;">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.price.label_tag }}
                                    {{ form.price }}
                                    {% if form.price.errors %}
                                        <div class="text-danger">{{ form.price.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.currency.label_tag }}
                                    {{ form.currency }}
                                    {% if form.currency.errors %}
                                        <div class="text-danger">{{ form.currency.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form.tags.label_tag }}
                            {{ form.tags }}
                            {% if form.tags.errors %}
                                <div class="text-danger">{{ form.tags.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.banner_image.label_tag }}
                                    {{ form.banner_image }}
                                    {% if form.banner_image.errors %}
                                        <div class="text-danger">{{ form.banner_image.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.thumbnail.label_tag }}
                                    {{ form.thumbnail }}
                                    {% if form.thumbnail.errors %}
                                        <div class="text-danger">{{ form.thumbnail.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <a href="{% url 'events:manage_events' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                            <button type="submit" class="btn btn-primary">{% trans "Create Event" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const onlineEventCheckbox = document.querySelector('#id_online_event');
    const onlineLinkField = document.getElementById('online_link_field');
    const isFreeCheckbox = document.querySelector('#id_is_free');
    const priceFields = document.getElementById('price_fields');

    function toggleOnlineLink() {
        if (onlineEventCheckbox.checked) {
            onlineLinkField.style.display = 'block';
        } else {
            onlineLinkField.style.display = 'none';
        }
    }

    function togglePriceFields() {
        if (isFreeCheckbox.checked) {
            priceFields.style.display = 'none';
        } else {
            priceFields.style.display = 'flex';
        }
    }

    onlineEventCheckbox.addEventListener('change', toggleOnlineLink);
    isFreeCheckbox.addEventListener('change', togglePriceFields);

    // Initial state
    toggleOnlineLink();
    togglePriceFields();
});
</script>
{% endblock %}
