# venv
.vscode/
venv/
venv*/
.venv/

# python junk
__pycache__/
*.pyc
*.pyo
*.pyd
migrations/

# django
staticfiles/
media/
logs/
*.log

# env
.env
.env.*

# DB
db.sqlite3
dump.rdb
config/db

# RUN
run_all_processes.sh
